@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans&effect=fire-animation|neon&display=swap');


header {
    position: fixed;
    font-family: "Alegreya Sans";
    left: 0;
    right: 0;
    box-shadow: 0 2px 4 px -2px black;
}


.navbar {
    overflow: hidden;
    background-color: rgb(15, 21, 82); 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    font-family: "Alegreya Sans";
}

.navbar a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


.navbar a:hover {
    background: #ddd;
    color: black;
}

.main {
    margin-top: 48px;
    text-align: center;
    font-size: 25px;
}

body {
    background-image: url("subpoena7.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center 45px;
    background-size: cover;
    font-family: "Alegreya Sans"; 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

h2 {
    font-size: 11vw;
}

.colorChangingLetter {
    transition: color 1000ms;
}

.contentMatter {
    color: rgb(4, 4, 49);
}





